body {
  background-image: url("./assets/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Counter {
  text-align: center;
  color: #333;
  background-color:#ffffff;
  padding: 25px;
  border-radius: 15px;
  font-size: 2em;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5);
}

.counterbutton {
  background-color: #5f58df;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 10px 18px;
  cursor: pointer;
  margin: 5px;
}